@mixin grid-container() {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

@mixin navigation() {
  -webkit-display: flex;
  -webkit-flex-direction: row;
  // -webkit-justify-content: flex-end;
  -webkit-align-items: center;

  // display: flex;
  // justify-content: flex-end;
  // align-items: center;
}

// @mixin contact-details() {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
// }
